.auth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: fit-content;
  padding: 10px;
  margin: 1rem auto;

  color: whitesmoke;

  /* From https://css.glass */
  background: rgba(115, 120, 135, 0.5);
  border-radius: 16px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.authentification-select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(100% + 20px);
  margin: -10px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.auth-select-block {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  width: 50%;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  color: black;
  transition: all 0.2s ease-in-out;
}

.auth-select-block:hover {
  background-color: rgba(0, 0, 0, 0.454);
  color: white;
  transition: all 0.2s ease-in-out;
}

.active-auth-category {
  background-color: rgba(0, 0, 0, 0.253);
  max-height: 100%;
  color: white;
  transition: all 0.2s ease-in-out;
}

.form-block-auth {
  overflow: hidden;
}
